<app-title title="Items">
  &nbsp;
  <i class="fa fa-spinner fa-spin" *ngIf="(model | async)?.isBusy"></i>
  <small class="red f6" *ngIf="(model | async)?.error" title="{{ (model | async)?.error }}">
    <i class="fa fa-warning"></i>
    Error
  </small>
</app-title>

<table class="w-100">
  <thead class="">
    <tr class="h2 b bb">
      <td>Code</td>
      <td>Name</td>
      <td>Description</td>
      <td>Quantity</td>
      <td></td>
      <td></td>
    </tr>
  </thead>
  <tbody *ngFor="let item of (model | async).items">
    <tr class="mv1">
      <td>
        <span [ngSwitch]="stockLevel(item)" class="pr2 w1">
          <i *ngSwitchCase="StockLevel.out" class="fa fa-exclamation-circle" [ngStyle]="{ color: 'red' }"></i>
          <i *ngSwitchCase="StockLevel.low" class="fa fa-warning" [ngStyle]="{ color: 'orange' }"></i>
          <i *ngSwitchCase="StockLevel.overstock" class="fa fa-tint" [ngStyle]="{ color: 'blue' }"></i>
          <i *ngSwitchDefault class="fa fa-check" [ngStyle]="{ color: 'green' }"></i>
        </span>
        <a [routerLink]="['/items', item.id]">{{ item.code }}</a>
      </td>
      <td>{{ item.name }}</td>
      <td>{{ item.description | truncate:40 }}</td>
      <td>
        {{ (item.quantity || 0) | number }}
      </td>
      <td>
        <app-quantity-editor [item]="item" (change)="quantityChanged(item, $event)"></app-quantity-editor>
      </td>
      <td>
        <button class="link br2 pa2 ml2 bg-red white" (click)="deleteItem(item)">
          <i class="fa fa-remove"></i>
        </button>
      </td>
    </tr>
  </tbody>
</table>

<div class="mv3">
  <app-button (click)="addItem()" icon="plus" text="Add New"></app-button>
</div>
